extends layout

block seo_basic
    meta(name="author",          content="Andrii Trybynenko")
    meta(name="copyright",       content="&copy;@trybynenko")
    meta(name="application-name",content="/")
    meta(itemprop="name",        content="Subscribe form" )
    meta(itemprop="description", content="This is web page." )

block seo_gplus
    meta(property="og:title",       content="Form", itemprop="keywords")
    meta(property="og:description", content="Form")
    meta(property="og:type",        content="Shop")
    meta(property="og:url",        content="/")
    meta(property="og:site_name",   content="/")
    //meta(itemprop="image", content="" )

block seo_twitter
    meta(name="twitter:card",   content="Form")
    meta(name="twitter:site",   content="@shop")
    meta(name="twitter:title",  content="Form")
    meta(name="twitter:description", content="description")
    meta(name="twitter:url",    content="/")

block meta_seo
    meta(name="robots", content="all")
    meta(http-equiv="cache-control",content="Public")

    block seo_basic
    block seo_gplus
    block seo_twitter

block metaBlock
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    link(href='images/favicon.ico', rel='bar-icon', type='image/x-icon')
    title Form
    block meta_seo

    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.9, user-scalable=yes")
    meta(name="apple-mobile-web-app-capable", 			content="yes" )
    meta(name="apple-mobile-web-app-status-bar-style", 	content="black-translucent")

//    USER REG FORM
block register_form
    fieldset.app_section_form_fieldset
        label(for="gender") Gender
        legend Gender
        input#gender.radio(
            required,
            type="radio",
            autofocus="true",
            title="Male",
            name="gender",
            value="1",
        )
        input#gender.radio(
            required,
            type="radio",
            title="Female",
            name="gender",
            value="0",
        )
    fieldset.app_section_form_fieldset
        label(for="fname") F. Name
        legend F. Name
        input#fname.text(
            required,
            placeholder="F. Name",
            title="F. Name",
            name="fname",
            type="text"
        )
    fieldset.app_section_form_fieldset
        label(for="lname") L.Name
        legend L. Name
        input#lname.text(
            required,
            placeholder="L.Name",
            title="L.Name",
            name="lname",
            type="text"
        )
    fieldset.app_section_form_fieldset
        label(for="date") Date
        legend Date
        input#date.date(
            pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)",
            required,
            placeholder="Required (DD.MM.YYYY)",
            title="Required (DD.MM.YYYY)",
            name="date",
            type="date"
        )
    fieldset.app_section_form_fieldset
        label(for="street") Street
        legend Street
        input#street.text(type="text")
    fieldset.app_section_form_fieldset
        label(for="street") st. num
        legend st.num
        input#street-number.number(type="number")
    fieldset.app_section_form_fieldset
        label(for="plz") PLZ
        legend PLZ
        input#plz.text(type="text")
    fieldset.app_section_form_fieldset
        label(for="ort") Ort
        legend Ort
        input#ort.number(type="number",min="1")
    fieldset.app_section_form_fieldset
        label(for="email") Email
        legend Email
        input#email.email(
            required,
            placeholder="Required",
            title="Required",
            type="email",
            name="email"
        )
    fieldset.app_section_form_fieldset
        label(for="password") Password
        legend Password
        input#password.password(
            required,
            placeholder="Password",
            title="Required",
            type="password",
            name="password"
        )
    fieldset.app_section_form_fieldset
        label(for="repassword") Re-password
        legend Re-password
        input#repassword.password(
            required,
            placeholder="Re-password",
            title="Repassword",
            type="password",
            name="repassword"
        )

    h4 agreement
    input#contact-submit.submit(
        name="submit_form",
        value="Submit",
        type="submit"
    )

//    BODY LAYOUT
block application
    body.app

        div.app_toolbar
            div.app_toolbar_hamburger

        nav.app_tabs
            a(href="#").app_tabs_tab TAB1
            a(href="#").app_tabs_tab TAB2
            a(href="#").app_tabs_tab TAB3

        div.app_signIn
            p.app_signIn_text Login

        div.app_connectionType
            p.app_connectionType_text Secured

        section.app_section
            h3.app_section_form_title Register
            form.app_section_form(method="post", action="index.html", accept-charset="utf-8")
                block register_form

        footer.app_footer