extends layout

block metaBlock
    meta(charset="utf-8")
    title Form
    meta(name="author", content="Andrii Trybynenko")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.9, user-scalable=yes")
    link(href='images/favicon.ico', rel='shortcut icon', type='image/x-icon')
    

block register_form
    fieldset
        label(for="gender") Gender
        input(
            required,
            type="radio",
            autofocus="true",
            title="Male",
            id="gender",
            name="gender",
            value="1",
        )
        input(
            required,
            type="radio",
            title="Female",
            id="gender",
            name="gender",
            value="0",
        )
    fieldset
        label(for="name") F. Name
        input(
            required,
            placeholder="Name",
            title="Name",
            id="fname",
            name="fname",
            type="text"
        )
    fieldset
        label(for="name") L.Name
        input(
            required="required",
            placeholder="L.Name",
            title="L.Name",
            id="lname",
            name="lname",
            type="text"
        )
    fieldset
        label(for="date") Date
        input(
            pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)",
            required="required",
            placeholder="Required (DD.MM.YYYY)",
            id="date",
            title="Required (DD.MM.YYYY)",
            name="date",
            type="date"
        )
    fieldset
        label(for="street") Street
        input#street(type="text")
    fieldset
        label(for="street") st. num
        input#street-number(type="number")
    fieldset
        label(for="street") Street
        input#street(type="text")
    fieldset
        label(for="street") st. num
        input#street-number(type="number")
    fieldset
        label(for="email") Email
        input(
            required="required",
            placeholder="Required",
            title="Required",
            type="email",
            name="email",
            id="email"
        )
    fieldset
        label(for="email") Password
        input(
            required="required",
            placeholder="Password",
            title="Required",
            type="password",
            name="password",
            id="password"
        )
    fieldset
        label(for="email") Re-password
        input(
            required="required",
            placeholder="Re-password",
            title="Repassword",
            type="password",
            name="repassword",
            id="repassword")

    h4 agreement
    input(id="contact-submit", name="submit_form", value="Submit", type="submit")




block application
    body.app

        div.app_toolbar
            div.app_toolbar_hamburger

        nav.app_tabs
            a(href="#").app_tabs_tab TAB1
            a(href="#").app_tabs_tab TAB2
            a(href="#").app_tabs_tab TAB3

        div.app_signIn
            p.app_signIn_text Login

        div.app_connectionType
            p.app_connectionType_text Secured

        section.app_section
            h3.app_section_form_title Register
            form.app_section_form(method="post", action="index.html", accept-charset="utf-8")
                block register_form

        footer.app_footer